":source ~/.ideavimrc

" able to paste from clipboard
" set clipboard+=unnamed
syntax on
set rnu " relational line numbers
set commentary " able to comment out with gc
set history=500
set hlsearch
set ideajoin
set ignorecase
set scrolloff=8       " Show next 8 lines while scrolling.
set visualbell " stop the ringing bell

"-------------------------------------------------------------------------------
" IdeaVim Plugin Emulations
"-------------------------------------------------------------------------------
set NERDTree
set surround " ys, cs, ds, S
set highlightedyank
set surround

"-------------------------------------------------------------------------------
" Mappings
"-------------------------------------------------------------------------------
let mapleader=" "

" window split navigation like VIM {{{
map <C-j> <C-w>j
map <C-k> <C-w>k
map <C-l> <C-w>l
map <C-h> <C-w>h

" maximize panel like tmux
map <C->z :action No

noremap Y y$

" jump methods
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

" Yank to clipboard
map <leader>y "+y
map <leader>y "+y

" fzf like
nnoremap ff :action GotoFile<CR>
noremap <Leader>ff :action FindInPath<CR>
nnoremap <leader>rf     :action RecentFiles<CR>

map <leader>gr     :action Refactorings.QuickListPopupAction<CR>
map <leader>p     :NERDTree<CR>
map <leader>t     :action ActivateTerminalToolWindow<CR>
map <leader>q     :action CloseActiveTab<CR>
map <leader>o     :action ReformatCode<CR>

map <C-r>     :action Rerun<CR>

" The default C-o and C-i behaviours have certain inconsistencies with
" Vim which I can't quite pinpoint
" I'm using the default IntelliJ behaviours instead.
map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)
map g; <Action>(JumpToLastChange)
map g, <Action>(JumpToNextChange)

" Folding like vim
nnoremap zC         :action CollapseRegionRecursively<CR>
nnoremap zO         :action ExpandRegionRecursively<CR>
map <leader>zc      :action CollapseAllRegions<CR>
map <leader>zo      :action ExpandAllRegions<CR>

" To set editor >code style -> increase hard wraps to > 200"
" make sure to turn on line numbers in settings before
map <C-z> <Action>(ToggleFullScreen)<Action>(ToggleDistractionFreeMode)


